* {
margin:0;
padding:0;
box-sizing:border-box;
}

body {
  font-family: 'Rubik Mono One', sans-serif;
  text-transform: uppercase;
}
section{
  position: relative;
  height: 100vh;
}

#section-1 {
  background-color: red;
  color: yellow;
}

#section-2 {
  background-color: green;
  color: yellow;
}

#section-3 {
  background-color: yellow;
  color: green;
}

.shoes{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
